header {
    position: sticky;
    top: 0;
    min-height: 70px;
    width: 100%;
    z-index: 99;
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.radio {
    margin: 10px;
}

button {
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
    border-width: 1px;
    font-weight: bold;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    font-size: 1.2rem;
}

button:hover {
    background: rgb(178, 14, 14);
    color: #ffffff;
    transition-duration: .2s ;
}

button:active {
    transform: scale(1.2);
}
