header {
    position: sticky;
    top: 0px;
    height: 70px;
    width: 100%;
    z-index: 99;
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.radio {
    margin: 10px;
    
}