.App {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    
}
.parentNode h2 {
  cursor: pointer;
}
.category {
  cursor: pointer;
}

.treeView, .category {
  margin: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.treeImages {
  margin-left: 50px;
}