.App {
  text-align: center;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;

    
}
.parentNode h2 {
  cursor: pointer;
}
.category {
  cursor: pointer;
}

.treeView, .category {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.treeImages {
  margin-left: 50px;
    display:flex;
    flex-direction: column;
}
.treeImages img{
  max-width: 50px;
    min-width: 50px;
    max-height: 30px;
    min-height: 40px;
  margin: 5px; 
}
.treeImages:hover{
    box-shadow: 1px 1px 1px 1px rgb(224, 166, 20);
}


